@import '~antd/dist/antd.css';

.header {
  color: white;
  font-size: large;
}

.search-input {
  width: 300px;
}

.content {
  padding: 15px 50px;
}

.layout {
  height: 100vh;
}

.menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
